---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import { Heading, Link } from 'accessible-astro-components'
---

<DefaultLayout title="The Pink Riot Comic Show" useTitleTemplate={false}>
  <section class="my-24">
    <div class="space-content container">
      <Heading level="h1" class="flex-center luckiest-guy-regular">Are You Ready to Riot?!?</Heading>
      <div class="flex-center align-stretch flex-wrap gap-4">
        <div class="rounded-xl border border-(--border-color-subtle) p-6">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/3smjF-RB42c?si=f-PltoGa4-to1-5g" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="rounded-xl border border-(--border-color-subtle) p-6">
          <iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/show/5Z5NBcFKviLakCqeddCwrm?utm_source=generator&si=18ca8ed274104f01" title="Spotify podcast player" width="100%" height="352" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
      </div>
      <div id="linkSection" class="flex-center flex-wrap gap-4">
        <Link class="epilogue-500" href="https://pinkriotcomicshow.printify.me/" isButton type="primary" animateOnHover animationType="boop">Check Out Our Merch!!</Link>
        <Link class="epilogue-500" href="https://patreon.com/pinkriotcomicshow?utm_medium=unknown&utm_source=join_link&utm_campaign=creatorshare_creator&utm_content=copyLink" isButton type="primary" animateOnHover animationType="boop">Support Us On Patreon &#x2764;</Link>
        <Link class="epilogue-500" href="https://www.paypal.com/donate/?hosted_button_id=E7GYU64NJU95A" isButton type="primary" animateOnHover animationType="boop">Donate to the Pink Riot Show Con Fund!!</Link>
      </div>
    </div>
  </section>
  

  <section class="mb-24">
    <div class="container grid gap-4 md:grid-cols-3">
      <div class="rounded-xl border border-(--border-color-subtle) p-6">
              <Heading class="luckiest-guy-regular" level="h2" size="h5">Do you love comics?</Heading>
              <p class="mt-3">We talk about comics every week. Join us live at 5 PT/8 ET every Thursday on YouTube, Instagram, and Twitch!</p>
            </div>
      <div class="rounded-xl border border-(--border-color-subtle) p-6">
              <Heading class="luckiest-guy-regular" level="h2" size="h5">Do you want to support more indie comics?</Heading>
              <p class="mt-3">Check out our ever updating list of currently crowd-funding comics <Link href="https://docs.google.com/document/d/17CylBmrSUF6qpVeIg3FJUBpglQqWgZrLCAMIyyaUBc8/edit?usp=sharing">here</Link>!</p>
            </div>
      <div class="rounded-xl border border-(--border-color-subtle) p-6">
              <Heading class="luckiest-guy-regular" level="h2" size="h5">Want to catch up on our previous episodes?</Heading>
              <p class="mt-3">You can find all of our past lives on <Link href="https://www.youtube.com/@pinkriotcomicshow">YouTube</Link> and <Link href="https://open.spotify.com/show/5Z5NBcFKviLakCqeddCwrm">Spotify</Link> or wherever you listen to podcasts!</p>
            </div>
    </div>
  </section>
</DefaultLayout>

<style>
  #linkSection {
    margin-top: var(--space-l);
  }
</style>